
@model List<CorsiViewModel>
<h1>@ViewData["Title"]</h1>    


@foreach(CorsiViewModel corsi in Model)
{
<div class="row course">
    <div class="col-md-1">
        <img src="@corsi.ImagePath" width="52" height="52">
    </div>
    <div class="col-md-5">
        <h5 class="title">@corsi.Title</h5>
        <author>di @corsi.Author</author>
    </div>
    <div class="col-md-2 rating" Title="@corsi.Rating">
        @for(int i = 1; i <= 5; i++)
        {
            if (corsi.Rating >= i) 
            {
                <i class="fas far fa-star"></i>
            }
            else if (corsi.Rating > i - 1)
            {
                <i class="fas fas fa-star-half-alt"></i>
            }
            else 
            {
                <i class="far fa-star"></i>
            }
        }
    </div>
    <div class="col-md-2">
        @corsi.CurrentPrice
        @if(!@corsi.CurrentPrice.Equals(corsi.FullPrice))
        {
            <br><s>@corsi.FullPrice</s>
        }
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@corsi.Id">Dettaglio</a>
    </div>
</div>
<hr>

}